HELP.md
commit_msg.md
config.json
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

/server/src/main/resources/rates/*.txt
/client/src/main/resources/client/rates/*.txt

**/*.mv.db
**/*.trace.db
/coverage/*
**/*.swp

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Client Config ###
client/config.json

### Server Exchange rates ###
server/server/src/main/resources/rates

### Client Exchange rates ###
client/client/src/main/resources/client/rates
