.EventNode > Text {
    -fx-font: Bold 20 "System";
}

.EventNode > Button {
    -fx-font: Bold 16 "System";
    -fx-background-color: BCCEF8;
    -fx-pref-width: 125;
}

.EventNode > * {
    -fx-border-color: #98A8F8;
}

.button:focused {
    -fx-border-color: #000000 !important;
    -fx-border-width: 2px !important;
}