/*Transactions Part*/
.transaction {
    -fx-alignment: center-left;
    -fx-pref-height: 100;
    -fx-pref-width: 703;
}

.transaction > *, .transaction > * > * {
    /* insets not working */
}

.transaction > Text {
    -fx-font-size: 15;
}

.transaction > VBox {
    -fx-alignment: center-left;
    -fx-pref-height: 200;
    -fx-pref-width: 100;

}

.transaction > VBox > .desc {
    -fx-font-size: 20;
}

.transaction > VBox > .participantText {
    -fx-font: italic 15 "System";
}

.root {
    -fx-accent: #808080;
}

.button:focused {
    -fx-border-color: #0e102e !important;
    -fx-border-width: 2px !important;
}